################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeadsInTheCloud/HeadsInTheCloud/obj/Debug
